.multiRad-container {
  display: flex;
  padding: 1rem;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.multiRad-chart {
  display: flex;
  min-width: 12rem;
}
.multiRad-legend {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  row-gap: 1rem;
}
.multiRad-bars-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  row-gap: 1rem;
}
.multiRad-bar {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.multiRad-bar-large {
  display: flex;
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
}
.multiRad-bar {
  display: flex;
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
}
.bar-sales {
  border-left: 5px solid var(--primaryOrange);
  color: var(--primaryOrange);
  background-color: var(--secondaryOrange);
  padding-left: 0.5rem;
}
.bar-clients {
  border-left: 5px solid var(--primaryBlue);
  color: var(--primaryBlue);
  background-color: var(--secondaryBlue);
  padding-left: 0.5rem;
}
.bar-all {
  border-left: 5px solid var(--secondaryGrey);
  color: var(--secondaryGrey);
  background-color: var(--trackColor);
  padding-left: 0.5rem;
}
.sales-number {
  display: flex;
  color: var(--primaryOrange);
  font-weight: 500;
  width: 3rem;
}
.client-number {
  display: flex;
  color: var(--primaryBlue);
  font-weight: 500;
  width: 3rem;
}
.all-number {
  display: flex;
  color: var(--primaryGrey);
  font-weight: 500;
  width: 3rem;
}
