.edit-goals-button {
  display: flex;
  font-size: 16px;
  color: var(--primaryOrange);
  font-weight: bold;
  justify-content: center;
  align-items: center;
  column-gap: 0.2rem;
}
.year-filter {
  display: flex;
  font-size: 16px;
  color: var(--primaryOrange);
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
