.edit-goals-button {
  display: flex;
  font-size: 16px;
  color: var(--primaryOrange);
  font-weight: bold;
  justify-content: center;
  align-items: center;
  column-gap: 0.2rem;
  padding: var(--buttonPadding);
  height: fit-content;
  border-radius: var(--buttonRadius);
  border: solid 2px transparent;
  transition: var(--hoverAnimation);
}
.edit-goals-button:hover {
  background: var(--lightOrange);
  border: solid 2px var(--lightOrange);
}
.year-filter {
  display: flex;
  color: var(--primaryOrange);
  justify-content: center;
  align-items: center;
  .MuiSelect-select {
    width: 5rem;
    height: auto;
    color: var(--primaryOrange);
    font-weight: bold;
    padding: 0.7rem;
  }
  .MuiFormLabel-root.Mui-focused {
    color: var(--primaryOrange);
  }
  .MuiInputLabel-root {
    color: var(--primaryOrange);
    font-weight: bold;
    font-size: 16px;
  }
  .MuiInputLabel-focused {
    color: var(--primaryOrange);
  }
  .MuiInputLabel-root {
    color: var(--primaryOrange);
  }
  .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-width: 2px;
    border-color: var(--primaryOrange);
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--primaryOrange);
    border-width: 2px;
  }
  .MuiSvgIcon-root {
    color: var(--primaryOrange);
    font-size: 35px;
  }
}
