.new-client-button {
  display: flex;
  border-radius: 5px;
  font-size: 16px;
  color: var(--primaryOrange);
  font-weight: bold;
  border: solid 2px var(--primaryOrange);
  height: fit-content;
  justify-content: center;
  align-items: center;
  column-gap: 0.2rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  transition: var(--hoverAnimation);
}
.new-client-button:hover {
  background: var(--lightOrange);
}
.new-estimate-button {
  display: flex;
  border-radius: 5px;
  font-size: 16px;
  background: var(--primaryOrange);
  border: solid 2px var(--primaryOrange);
  color: var(--white);
  font-weight: bold;
  height: fit-content;
  justify-content: center;
  align-items: center;
  column-gap: 0.2rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
}
