.new-client-button {
  display: flex;
  border-radius: 5px;
  font-size: 16px;
  color: #f3a225;
  font-weight: bold;
  border: solid 2px #f3a225;
  height: fit-content;
  justify-content: center;
  align-items: center;
  column-gap: 0.2rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
}
.new-estimate-button {
  display: flex;
  border-radius: 5px;
  font-size: 16px;
  background: #f3a225;
  border: solid 2px #f3a225;
  color: #ffffff;
  font-weight: bold;
  height: fit-content;
  justify-content: center;
  align-items: center;
  column-gap: 0.2rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
}
