.new-client-button {
  display: flex;
  border-radius: var(--buttonRadius);
  font-size: 16px;
  color: var(--primaryOrange);
  font-weight: 500;
  border: solid 2px var(--primaryOrange);
  height: fit-content;
  justify-content: center;
  align-items: center;
  column-gap: 0.2rem;
  padding: var(--buttonPadding);
  transition: var(--hoverAnimation);
}
.new-client-button:hover {
  background: var(--lightOrange);
}
.new-estimate-button {
  display: flex;
  border-radius: var(--buttonRadius);
  font-size: 16px;
  background: var(--primaryOrange);
  border: solid 2px var(--primaryOrange);
  color: var(--white);
  font-weight: 500;
  height: fit-content;
  justify-content: center;
  align-items: center;
  column-gap: 0.2rem;
  padding: var(--buttonPadding);
}
