.topbar-container {
  background-color: var(--secondaryColor);
  color: #fff;
  box-shadow: var(--shadow);
  width: 100vw;
  height: 7rem;
  padding: 0;
  align-items: center;
  align-content: center;
  z-index: 1000;
}

.topbar-content {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
  width: 100%;
  align-items: center;
}

.topbar-search {
  display: flex;
  width: 25%;
}
