.topbar-container {
  background-color: #373737;
  width: 100%;
  height: 80px;
  display: flex;
}
.topbar-cluster-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  padding-right: 2rem;
}
