.skeleton-loader-container {
  display: flex;
  width: 65%;
  column-gap: 4rem;
}
.skeleton-loader {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 1rem;
}
.skeleton-loader-top {
  display: flex;
  width: 100%;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
}
