@import "../../Variables.scss";

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  max-width: 40rem;
  min-width: 30rem;
  padding: 4rem;
  h1 {
    line-height: 0%;
    margin-top: 0.5rem;
  }
  h2 {
    line-height: 0%;
  }
  h4 {
    line-height: 0%;
  }
  hr {
    margin-top: 2rem;
    border: 1px solid var(--trackColor);
    width: 100%;
  }
  .form-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    .login-icon-container {
      display: flex;
      width: 50px;
    }
    .login-icon {
      height: 100%;
      width: 100%;
    }
  }
  .form-links {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    .form-checkbox {
      width: 50%;
      input[type="checkbox"] {
        appearance: checkbox !important;
        margin-right: 0.5rem;
        cursor: pointer;
      }
    }
    .forgot-password-link {
      display: flex;
      width: 50%;
      justify-content: flex-end;
      color: var(--primaryOrange);
    }
  }
  .form-button {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
  }
  .sign-in-button {
    display: flex;
    width: 100%;
    background-color: var(--primaryOrange);
    border-radius: var(--buttonRadius);
    padding: var(--buttonPadding);
    cursor: pointer;
    color: var(--white);
    justify-content: center;
    align-items: center;
    button {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    p {
      line-height: 0%;
    }
  }
  .form-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    a {
      color: var(--primaryOrange);
    }
  }
  .MuiFormLabel-root.Mui-focused {
    color: var(--primaryOrange);
  }
  .MuiInputLabel-root {
    color: var(--secondaryGrey);
    font-weight: bold;
    font-size: 16px;
  }
  .MuiInputLabel-focused {
    color: var(--primaryOrange);
  }
  .MuiInputLabel-root {
    color: var(--primaryGrey);
  }
  .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-width: 2px;
    border-color: var(--lightGrey);
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--primaryOrange);
    border-width: 2px;
  }
  .MuiSvgIcon-root {
    color: var(--primaryOrange);
    font-size: 35px;
  }
}
@media screen and (max-width: $sm) {
  .form-container {
    width: 100%;
  }
}
