.search-container {
  display: flex;
  width: 100%;
  min-width: 20rem;
  max-width: 40rem;
  background-color: var(--trackColor);
  border-radius: 5px;
  padding: 0.5rem;
}
.search-container input {
  width: 100%;
  color: var(--black);
}
.search-container input::placeholder {
  color: var(--black);
  opacity: 1;
}
