.search-container {
  display: flex;
  width: fit-content;
  background-color: #ffffff70;
  border-radius: 5px;
  padding: 0.5rem;
}
.search-container input {
  width: 35rem;
  color: black;
}
::placeholder {
  color: black;
  opacity: 1;
}
