.search-container {
  display: flex;
  width: fit-content;
  background-color: var(--lightGrey);
  border-radius: 5px;
  padding: 0.5rem;
}
.search-container input {
  width: 40rem;
  color: var(--black);
}
.search-container input::placeholder {
  color: var(--black);
  opacity: 1;
}
