.sidebar-container {
  background-color: #212121;
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-icon-container {
  display: flex;
  padding: 1rem;
}
.sidebar-icon {
  height: 100%;
  width: 100%;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.sidebar-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.sidebar-button .item-tooltip {
  width: 120px;
  visibility: hidden;
  background-color: #373737;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  border-radius: 5px;
  padding: 5px 0;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 115%;
  transform: scale(0.6);
}
.sidebar-button .item-tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #373737 transparent transparent;
}
.sidebar-button {
  display: flex;
  padding: 1rem 0 1rem 0;
  width: 100%;
  justify-content: center;
  border-right: transparent 3px solid;
  cursor: pointer;
  position: relative;
}

.sidebar-button-active {
  background-color: #f3a12531;
  display: flex;
  padding: 1rem 0 1rem 0;
  width: 100%;
  justify-content: center;
  border-right: #f3a225 3px solid;
  .sidebar-item-icon {
    color: #f3a225;
  }
  .item-tooltip {
    visibility: hidden;
    display: none;
  }
}

.sidebar-button:hover {
  background-color: #f3a12531;
  .sidebar-item-icon {
    color: #f3a225;
  }
  .item-tooltip {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}
.sidebar-item-icon {
  display: flex;
  color: #ffffff70;
}
.sidebar-bottom {
  justify-content: flex-end;
  height: 100%;
}
