.sidebar-container {
  background-color: var(--primaryGrey);
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}
.sidebar-icon-container {
  display: flex;
  padding: 1rem;
  width: 80px;
}
.sidebar-icon {
  height: 100%;
  width: 100%;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 4rem 0 0 0;
}
.sidebar-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.sidebar-button .item-tooltip {
  width: 120px;
  visibility: hidden;
  background-color: var(--secondaryGrey);
  color: var(--white);
  text-align: center;
  font-weight: 400;
  border-radius: 5px;
  padding: 5px 0;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 90px;
  transform: scale(0);
}
.sidebar-button .item-tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--secondaryGrey) transparent transparent;
}
.sidebar-button {
  display: flex;
  width: 100%;
  padding: 1rem 0 1rem 0;
  width: fit-content;
  justify-content: center;
  border-right: transparent 3px solid;
  cursor: pointer;
  position: relative;
}

.sidebar-button-active {
  background-color: var(--secondaryOrange);
  display: flex;
  padding: 1rem 0 1rem 0;
  width: 100%;
  justify-content: center;
  border-right: var(--primaryOrange) 3px solid;
  .sidebar-item-icon {
    color: var(--primaryOrange);
  }
  .item-tooltip {
    visibility: hidden;
    display: none;
    opacity: 0;
  }
}

.sidebar-button:hover {
  background-color: var(--secondaryOrange);
  width: 100%;
  .sidebar-item-icon {
    color: var(--primaryOrange);
  }
  .item-tooltip {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}
.sidebar-item-icon {
  display: flex;
  color: var(--lightGrey);
}
.sidebar-bottom {
  justify-content: flex-end;
  height: 100%;
  padding: 0 0 2rem 0;
}
