:root {
  // colors
  --primaryOrange: #f3a225;
  --secondaryOrange: #f3a12531;
  --lightOrange: #f3a12517;
  --primaryBlue: #4dbde8;
  --secondaryBlue: #4dbce83a;
  --primaryGrey: #212121;
  --secondaryGrey: #373737;
  --trackColor: #e7e7e7;
  --lightGrey: #a4a4a4;
  --white: #ffffff;
  --black: #000000;
  --bgColor: #f9f9f9;
  --borderCard: #d8d8d8;
  --tertiaryColor: #3f51b583;

  // other
  --shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.325);
  --topBarHeight: 5rem;
  --hoverAnimation: all 175ms ease-in-out;
  --buttonPadding: 0.3rem 0.7rem 0.3rem 0.7rem;
  --buttonRadius: 5px;
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background-color: transparent;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: var(--lightGrey); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
* {
  box-sizing: border-box;
  outline: none;
}
body,
html {
  margin: 0;
}

.app {
  background-color: var(--white);
  height: 100vh;
  width: 100vw;
}
.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.app-content {
  display: flex;
  height: 100%;
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}
ul {
  all: unset;
}
li {
  all: unset;
}
li a {
  all: unset;
}
a {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}
input {
  all: unset;
}
.app-button {
  display: flex;
  font-size: 16px;
  color: var(--primaryOrange);
  font-weight: bold;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  padding: var(--buttonPadding);
  height: fit-content;
  border-radius: var(--buttonRadius);
  border: solid 2px transparent;
  transition: var(--hoverAnimation);
}
.app-button:hover {
  background: var(--lightOrange);
  border: solid 2px var(--lightOrange);
}
.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 40px;
}
.page-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}
.page-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow-y: scroll;
  background: var(--bgColor);
}
.page-tiles-container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  height: 100%;
  width: 95rem;
  row-gap: 2rem;
}
.page-section-header {
  display: flex;
  width: 100%;
  align-items: center;
}
.page-section-header-text {
  display: flex;
  height: 100%;
  color: var(--secondaryGrey);
  flex-direction: column;
  justify-content: flex-end;
  font-size: 24px;
  line-height: 110%;
  font-weight: bold;
  width: 100%;
}
.page-section-header-menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1rem;
}
.page-tiles:last-of-type {
  padding-bottom: 1rem;
}
.page-tiles {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 2rem;
}
.page-skeleton {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 5rem;
  row-gap: 4rem;
}
.chart-card {
  display: flex;
  border-radius: 10px;
  width: 100%;
  border: 2px solid var(--borderCard);
  background: var(--white);
}
.chart-card-container {
  display: flex;
  min-height: 15rem;
  width: 100%;
  position: relative;
  text-align: center;
}
.chart-card-title {
  font-size: 24px;
  line-height: 110%;
  font-weight: bold;
  color: var(--secondaryGrey);
  overflow-wrap: break-word;
}
.chart-card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;
  column-gap: 0.5rem;
  font-size: 18px;
  color: var(--primaryOrange);
  text-decoration: underline;
  cursor: pointer;
  transition: var(--hoverAnimation);
}
.light-card {
  color: var(--secondaryGrey);
}
.dark-card {
  background: var(--primaryGrey);
  color: var(--white);
}
.page-heading-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primaryOrange);
  margin-top: 1rem;
  padding: 0.5rem;
  column-gap: 0.5rem;
  border-radius: 10px;
  color: var(--white);
}
.page-header {
  display: flex;
  width: 100%;
  min-height: 4rem;
  padding-left: 6rem;
  padding-right: 6rem;
  border-bottom: solid 1px var(--borderCard);
}
.page-header-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1rem;
}
.page-tabs {
  padding-top: 1rem;
  flex: 2;
  text-transform: "none";
  .MuiTab-root {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .MuiTab-textColorPrimary {
    font-weight: bold;
  }
  .MuiTab-textColorPrimary.Mui-selected {
    color: var(--primaryOrange);
    font-weight: bold;
    background: var(--secondaryOrange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .MuiTab-textColorPrimary {
    color: var(--secondaryGrey);
  }
  .MuiTabs-indicator {
    border-bottom: var(--primaryOrange) 3px solid;
  }
  .MuiTabs-flexContainer {
    column-gap: 2rem;
  }
}
