::-webkit-scrollbar {
  height: 8px;
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background-color: transparent;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #c5c5c5; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
* {
  box-sizing: border-box;
  outline: none;
}
body,
html {
  margin: 0;
}

.app {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}
.app-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.app-content {
  display: flex;
  height: 100%;
  width: 100%;
}
.app-content-main {
  background-color: var(--bgColor);
  display: flex;
  height: 100%;
  width: 100%;
}

:root {
  // colors
  --primaryColor: #6d80e9;
  --secondaryColor: #182230;
  --bgColor: #ededed;
  --tertiaryColor: #3f51b583;

  // other
  --shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.325);
}
button {
  all: unset;
  cursor: pointer;
}
ul {
  all: unset;
}
li {
  all: unset;
}
li a {
  all: unset;
}
a {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}
input {
  all: unset;
}
.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 40px;
}
.page-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.page-content {
  padding: 2rem 3rem 2rem 3rem;
  width: 100%;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
}
.page-tiles {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
.chart-card {
  display: flex;
  height: 15rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid #d8d8d8;
}
.chart-card-title {
  font-size: 24px;
  line-height: 110%;
  font-weight: bold;
  overflow-wrap: break-word;
}
.light-card {
  color: #212121;
}
.dark-card {
  background: #212121;
  color: #fff;
}
.page-heading-link {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  background-color: #f3a225;
  padding: 0.5rem;
  column-gap: 0.5rem;
  border-radius: 10px;
  color: #fff;
}
.page-header {
  display: flex;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: solid 1px #d8d8d8;
}
.page-header-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1rem;
}
.page-tabs {
  padding-top: 1rem;
  flex: 2;
  .MuiTab-root {
    font-size: 16px;
    font-weight: bold;
  }
  .MuiTab-textColorPrimary {
    font-weight: bold;
  }
  .MuiTab-textColorPrimary.Mui-selected {
    color: #f3a225;
    font-weight: bold;
    background: #f3a12531;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .MuiTab-textColorPrimary {
    color: #4d4d4d;
  }
  .MuiTabs-indicator {
    border-bottom: #f3a225 3px solid;
  }
  .MuiTabs-flexContainer {
    column-gap: 2rem;
  }
}
