.column-chart-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-left: 2px solid var(--borderCard);
}
.column-card-label {
  position: absolute;
  justify-content: center;
  display: flex;
  column-gap: 1rem;
  top: 16px;
  left: 16px;
  align-items: center;
  z-index: 2;
}
